:root {
  --background-default: #121212;
}

body {
  margin: 0;
  font-family: 'Roboto';
  background-color: var(--background-default);
}

button {
  height: 36px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-type-box {
  height: 30px;
  width: 100px;
  border-radius: 3px;
}

.map-param {
  width: 24px;
  margin-right: 5px !important;
  text-align: center;
}

.map-cover, #tourney-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-btn {
  width: 30px;
  height: 30px;
  padding: 0 !important;
}

.icon-btn > svg {
  width: 100%;
  height: 100%;
}

.divider {
  background-color: var(--background-default);
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  height: 1px;
}